@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap");
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  font-size: 1.05rem !important;
  letter-spacing: 1px;
}

.titulos-grandes {
  font-family: "Sorts Mill Goudy", serif;
}

.navbar-nav li {
  font-weight: 900;
  letter-spacing: 1.5px;
}

/* Carousel */

.carousel-item {
  /* width: 100%; */
  height: 148vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgba(0, 0, 0, 0.356);
  /* background-color: red; */
}

@media only screen and (max-width: 600px) {
  .carousel-item {
    height: 70vh !important;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgba(0, 0, 0, 0.356);
  }

  .imagen_responsive{
    height: 50vh !important;
    width:auto
  }
}



.carousel-indicators li {
  width: 18px;
  height: 18px;
  border-radius: 100%;
}
.carousel-indicators {
  /* top: -10vh; */
  padding-top: -20 !important;
}

/* FIN Carousel */

.navbar {
  background-color: hsla(0, 0%, 100%, 0) !important;
}

.navbar2 {
  background-color: hsla(0, 0%, 100%, 0.671) !important;
}

/* FinCarousel */
.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.centrado {
  color: #ffffff;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}
